<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sakamichi Oshi</title>
</head>
<body>
    <div id="app">
        <div>
            <select name="グループ" v-model="selectedGroup" @click="onChangeGroup">
                <option v-for="grp in getGroups()">{{grp}}</option>
            </select>
            <select name="推しメン" v-model="selectedmember">
                <option v-for="member in getMembers" :value="member">{{member.name}}</option>
            </select>
            <input name="推しパーセント" type="number" v-model="oshi" v-validate="{ min_value : 1, max_value : oshiMax(oshi) }" />
            <button @click="addOshi" :disabled="fields.推しパーセント && fields.推しパーセント.invalid">推し</button>
            <span>{{ errors.first('推しパーセント') }}</span>
        </div>
        <ul>
            <li v-for="oshimember in oshimembers" v-bind:key="oshimember.no">
                <div>
                    <label>{{oshimember.group}} {{oshimember.name}} {{oshimember.oshi}}</label>
                    <button v-on:click="deleteOshi(oshimember); $emit('update')">削除</button>
                </div>
            </li>
        </ul>
    </div>
    <link rel="stylesheet" href="css/semantic.min.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <script src="js/validation/vee-validate.min.js"></script>
    <script src="js/validation/locale/ja.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>